/* MOBILE */
@media screen and (max-width: 480px) {
    
    // index.html
    body {
        
        .header {
            .navbar {
                .navbar-collapse {
                    .navbar-nav {
                        .nav-link {
                            font-size: nth($font-size, 5);
                        }
                    }
                }
            }
        }

        .home {
            .home__titulo {
                font-size: nth($font-size, 2);
            }
        }

        .servicios {
            a {
                display: flex;
                justify-content: center;
            }
        }

        .sobre-mi {
            .sobre-mi__titulo {
                text-align: center;
            }

            .sobre-mi__card {

                .sobre-mi__img {
                    height: 400px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 8);
                    margin: 0;
                    height: auto;
                }

            }
        }

        .trabajos {
            a {
                display: flex;
                justify-content: center;
            }

            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 350px;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 350px;
                    }
                }
            }
        }

        .contactos {

            .contactos__titulo {
                text-align: center;
            }

            .contactos__card {

                display: flex;
                flex-direction: column;

                .contactos__map {
                    display: none;
                }

                .contactos__form {

                    display: flex;
                    justify-content: center;

                    div {
                        width: 75%;

                            .row {
                                justify-content: center;
                            }
                        
                    }
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 100%;
                    height: 250px;

                    .contactos__datos-card {
                        

                        h3 {
                            font-size: nth($font-size, 5);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 6); 
                        }
                    }
                }
            }
        }

        .footer {
            
            .footer__card {

                .footer__titulo {
                    font-size: nth($font-size, 7);
                }
                .footer__copy {
                    font-size: nth($font-size, 7);
                }
            }
        }

    }

    // servicios.html
    body {

        .header {
            .navbar {
                .navbar-collapse {
                    .navbar-nav {
                        .nav-link {
                            font-size: nth($font-size, 5);
                        }
                    }
                }
            }
        }

        .main__servicios {
            .main__servicios-titulo {
                font-size: nth($font-size, 4);
            }

            .main__servicios-card-1 {
                .main__servicio {
                    width: 300px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 5);
                    }
                    .main__servicio-img {
                        width: 250px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 5);
                    }
                    .main__servicio-btn {
                        font-size: nth($font-size, 6);
                        padding: 8px 15px;
                    }
                }
            }

            .main__servicios-card-2 {
                .main__servicio {
                    width: 300px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 5);
                    }
                    .main__servicio-img {
                        width: 250px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 5);
                    }
                    .main__servicio-btn {
                        font-size: nth($font-size, 6);
                        padding: 8px 15px;
                    }
                }
            }
        }
    }

    // trabajos.html
    body {

        .header {
            .navbar {
                .navbar-collapse {
                    .navbar-nav {
                        .nav-link {
                            font-size: nth($font-size, 5);
                        }
                    }
                }
            }
        }

        .main__trabajos {
            .main__trabajos-titulo {
                text-align: center;
                font-size: nth($font-size, 4);
            }

            .main__trabajo-grid  {
                .main__trabajo-card-1 {
                    .main__trabajo {

                        width: 280px;
                        margin: 10px auto;

                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 5);
                            text-align: center;
                        }
                        
                        .main__trabajo-info {
                            // margin-top: 15px;
                            font-size: nth($font-size, 5);
                            padding: 10px 0 0 0;  
                        }
                        
                    }
                }

                .main__trabajo-card-2 {

                    .main__trabajo {

                        width: 320px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 5);
                            text-align: center;
                        }

                        .main__trabajo-video {
                            width: 320px;
                            height: 200px;
                            // margin: 15px;
                            margin-top: 15px;
                        }

                        .main__trabajo-info { 
                            font-size: nth($font-size, 5);  
                            padding: 10px 0 0 0;
                        }
                        
                        
                    }
                }
            }
        }
    }

}

/* TABLET */
@media screen and (min-width: 481px) and (max-width:768px) {
    
    // index.html
    body {
       
       .servicios {
        a {
            display: flex;
            justify-content: center;
        }
        }

        .sobre-mi {
            .sobre-mi__titulo {
                text-align: center;
            }

            .sobre-mi__card {

                .sobre-mi__img {
                    height: 520px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 3);
                    height: 550px;
                    width: 400px;
                }

            }
        }

        .trabajos {
            a {
                display: flex;
                justify-content: center;
            }

            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 400px;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 400px;
                    }
                }
            }
        }

        .contactos {

            .contactos__titulo {
                text-align: center;
            }

            .contactos__card {

                display: flex;
                flex-direction: column;

                .contactos__map {
                    display: none;
                }
                
                .contactos__form {

                    display: flex;
                    justify-content: center;

                    div {
                        width: 90%;

                            .row {
                                justify-content: center;
                            }
                        
                    }
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 100%;
                    height: 250px;

                    .contactos__datos-card {
                        width: 80%;

                        h3 {
                            font-size: nth($font-size, 4);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 5); 
                        }
                    }
                }
            }
        }
    }

    // servicios.html
    body {
        .main__servicios {
            .main__servicios-titulo {
                font-size: nth($font-size, 3);
            }

            .main__servicios-card-1 {
                .main__servicio {
                    width: 380px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 330px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-btn {
                        font-size: nth($font-size, 5);
                        padding: 10px 15px;
                    }
                }
            }

            .main__servicios-card-2 {
                .main__servicio {
                    width: 380px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 330px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-btn {
                        font-size: nth($font-size, 5);
                        padding: 10px 15px;
                    }
                }
            }
        }
    }


     // trabajos.html
     body {
        .main__trabajos {

            .main__trabajos-titulo {
                text-align: center;
                font-size: nth($font-size, 3);

            }

            .main__trabajo-grid  {
                .main__trabajo-card-1 {
                    .main__trabajo {

                        width: 350px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 4);
                            text-align: center;
                        }
                        
                        .main__trabajo-info {                           
                            font-size: nth($font-size, 5);
                            padding: 10px 0 0 0;
                        }
                        
                    }
                }

                .main__trabajo-card-2 {

                    .main__trabajo {

                        width: 350px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 5);
                            text-align: center;
                        }

                        .main__trabajo-video {

                            width: 360px;
                            height: 190px;
                            // margin: 15px;
                            margin-top: 15px;

                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 5);
                            padding: 10px 0 0 0;
                        }
                        
                        
                    }
                }
            }
        }
    }
}

/* DESKTOP */
@media screen and (min-width: 769px) and (max-width:900px) {

    // index.html
     body {

        .home {
            .home__titulo {
                font-size: nth($font-size, 2);
            }
        }

        .servicios {
            a {
                display: flex;
                justify-content: center;
            }

            .servicio {
                a {
                    .servicio__card {
                        height: 190px;
                        width: 190px;

                        .servicio__img {
                            height: 190px;
                            width: 190px;
                        }

                        .servicio__titulo {
                            font-size: nth($font-size, 4);
                        }
                    }
                }
            }
        }
         
        .sobre-mi {
            .sobre-mi__titulo {
                text-align: center;
            }

            .sobre-mi__card {
                @include flex (flex, nowrap, center, center);
                
                .sobre-mi__img {
                    height: 400px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 4);
                    height: 450px;
                    width: 350px;
                }
            }
        }

        .trabajos {
            a {
                display: flex;
                justify-content: center;
            }

            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 400px;
                        margin: 10px 0;
                        padding: 0.8rem;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 400px;
                    }
                }
            }
        }

         .contactos {

            .contactos__titulo {
                text-align: center;
            }
             .contactos__card {

                .contactos__map {
                    display: none;
                }
                .contactos__form {

                    display: flex;
                    justify-content: center;

                    div {
                        width: 90%;

                            .row {
                                justify-content: center;
                            }
                        
                    }
 
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 100%;
                    height: 250px;

                    .contactos__datos-card {
                        width: 80%;

                        h3 {
                            font-size: nth($font-size, 4);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 5); 
                        }
                    }
                }
             }
         }
     }

     // servicios.html
     body {
        
         .main__servicios {
             .main__servicios-titulo {
                 font-size: nth($font-size, 3);
             }
             
             .main__servicios-card-1 {
                 .main__servicio {
                     width: 420px;

                     .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                     }
                     .main__servicio-img {
                         width: 370px;
                     }
                     .main__servicio-info {
                        font-size: nth($font-size, 4);
                     }
                 }
             }

             .main__servicios-card-2 {
                 .main__servicio {
                     width: 420px;

                     .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                     }
                     .main__servicio-img {
                        width: 370px;
                     }
                     .main__servicio-info {
                        font-size: nth($font-size, 4);
                     }
                 }
             }
         }

     }

    //  trabajo.html
    body {
      
        .main__trabajos {

            .main__trabajos-titulo {
                text-align: center;
                font-size: nth($font-size, 3);
            }

            .main__trabajo-grid {
                .main__trabajo-card-1 {
                    .main__trabajo {

                        width: 350px;
                        // height: auto;
                        
                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 4);
                            text-align: center;
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 5);
                            padding: 10px 0 0 0;
                        }
                    }
                }

                .main__trabajo-card-2 {
                    .main__trabajo {

                        width: 380px;
                        margin: 10px auto;

                        .main__trabajo-subtitulo{
                            font-size: nth($font-size, 5);
                            text-align: center;
                        }

                        .main__trabajo-video {
                            width: 390px;
                            height: 220px;
                            margin-top: 15px;
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 5);
                            padding: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    }
 }


@media screen and (min-width: 901px) and (max-width:1366px) {

    // index.html
    body {

        .servicios {
            
            .servicio {
                a {
                    .servicio__card {
                        height: 230px;
                        width: 230px;

                        .servicio__img {
                            height: 230px;
                            width: 230px;
                        }

                        .servicio__titulo {
                            font-size: nth($font-size, 2);
                        }
                    }
                }
            }
        }

        .sobre-mi {
            
            .sobre-mi__card {
                @include flex (flex, nowrap, center, center);
                
                .sobre-mi__img {
                    height: 480px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 8);
                    height: 530px;
                    width: 350px;
                }
            }
        }

        .trabajos {
            
            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 450px;
                        margin: 15px 0;
                        padding: 0.8rem;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 450px;
                    }
                }
            }
        }

        .contactos {

             .contactos__card {

                @include flex (flex, wrap, center, center);
                flex-direction: column;

                .contactos__card-mapform {
                    @include flex (flex, nowrap, space-around, center);
                    
                }
                .contactos__map {

                    margin-left: 200px;

                    iframe {
                        width: 400px;
                        height: 500px;
                    }
                }
                .contactos__form {

                    display: flex;
                    justify-content: center;

                    div {
                        width: 60%;

                            .row {
                                justify-content: center;
                                // width: 95%;
                            } 
                    }
 
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 100%;
                    height: 250px;
                    border-radius: 0;

                    .contactos__datos-card {
                        width: 80%;

                        h3 {
                            font-size: nth($font-size, 4);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 5); 
                        }
                    }
                }
             }
         }
    }

    // servicios.html
    body {
        
        .main__servicios {
            .main__servicios-titulo {
                font-size: nth($font-size, 3);
            }

            .main__servicios-card-1 {
                .main__servicio {
                    width: 450px;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 400px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 4);
                    }
                }
            }

            .main__servicios-card-2 {
                .main__servicio {
                    width: 450px;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 400px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 4);
                    }
                }
            }
        }
    }

    // trabajos.html
    body {
        
        .main__trabajos {

            .main__trabajos-titulo {
                text-align: center;
                font-size: nth($font-size, 2);
            }

            .main__trabajo-grid {
                .main__trabajo-card-1 {
                    .main__trabajo {
                        width: 450px;

                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 3);
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 4);
                            padding: 10px 0 0 0;
                        }
                    }
                }

                .main__trabajo-card-2 {
                    .main__trabajo {

                        width: 430px;
                        margin: 10px auto;

                        .main__trabajo-subtitulo{
                            font-size: nth($font-size, 4);
                            text-align: center;
                        }

                        .main__trabajo-video {
                            width: 430px;
                            height: 230px;
                            margin-top: 15px;
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 4);
                            padding: 10px 0 0 0;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (min-width: 1367px) and (max-width:1680px) {

    // index.html
    body {
        
        .contactos {
            .contactos__card {
                display: flex;
                flex-direction: column;
                .contactos__card-mapform {
                    width: 100%;
                    .contactos__map {
                        margin-left: 0;
                        iframe {
                            width: 100%;
                            // border-radius: 5px;
                            
                        }
                    }

                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 100%;
                    height: 300px;
                    border-radius: 0;

                    .contactos__datos-card {
                        width: 100%;
                    }
                }
            }
        }
    }

    // trabajos.html
    body {
        .main__trabajos {

            .main__trabajos-titulo {
                font-size: nth($font-size, 2);
            }

            .main__trabajo-grid {
                .main__trabajo-card-1 {
                    .main__trabajo {
                        width: 450px;

                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 3);
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 4);
                            padding: 10px 0 0 0;
                        }
                    }
                }
            }

            .main__trabajo-card-2 {
                .main__trabajo {
                    
                    .main__trabajo-video {
                        margin-top: 15px;
                    }

                    .main__trabajo-info {
                        padding: 10px 0 0 0;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1681px){

    // index.html
    body {
        .contactos {
            margin-top: 40px;
            margin-bottom: 30px;
            .contactos__card {
                width: 100%;
                @include flex  (flex, nowrap, space-around, center);

                .contactos__card-mapform {
                    width: 66%;
                    @include flex (flex, nowrap, center, center);
                    
                    .contactos__map {
                        margin-right: 60px;
                    }
                }
            }
        }
    }

    // trabajos.html
    body {
        .main__trabajos {

            .main__trabajos-titulo {
                font-size: nth($font-size, 2);
            }

            .main__trabajo-grid {
                .main__trabajo-card-1 {
                    .main__trabajo {
                        width: 550px;

                        .main__trabajo-subtitulo {
                            font-size: nth($font-size, 3);
                        }

                        .main__trabajo-info {
                            font-size: nth($font-size, 4);
                            padding: 10px 0 0 0;
                        }
                    }
                }
            }

            .main__trabajo-card-2 {
                .main__trabajo {
                    
                    .main__trabajo-video {
                        margin-top: 15px;
                    }

                    .main__trabajo-info {
                        padding: 10px 0 0 0;
                    }
                }
            }
        }
    }
}