/* MOBILE */
@media screen and (max-width: 480px) {
    
    // index.html
    body {
        
        .home {
            .home__titulo {
                font-size: nth($font-size, 2);
            }
        }

        .servicios {
            a {
                display: flex;
                justify-content: center;
            }
        }

        .sobre-mi {
            .sobre-mi__titulo {
                text-align: center;
            }

            .sobre-mi__card {

                .sobre-mi__img {
                    height: 450px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 3);
                }

            }
        }

        .trabajos {
            a {
                display: flex;
                justify-content: center;
            }

            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 350px;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 350px;
                    }
                }
            }
        }

        .contactos {

            .contactos__titulo {
                text-align: center;
            }

            .contactos__card {

                display: flex;
                flex-direction: column;

                .contactos__map {
                    display: none;
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 300px;
                    height: 250px;

                    .contactos__datos-card {
                        width: 80%;

                        h3 {
                            font-size: nth($font-size, 5);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 6); 
                        }
                    }
                }
            }
        }

        .footer {
            
            .footer__card {

                .footer__titulo {
                    font-size: nth($font-size, 7);
                }
                .footer__copy {
                    font-size: nth($font-size, 7);
                }
            }
        }

    }

    // servicios.html
    body {
        // background-color: red;
        .main__servicios {
            .main__servicios-titulo {
                font-size: nth($font-size, 2);
            }

            .main__servicios-card-1 {
                .main__servicio {
                    width: 400px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 350px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 5);
                    }
                }
            }

            .main__servicios-card-2 {
                .main__servicio {
                    width: 400px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 350px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 5);
                    }
                }
            }
        }
    }

    // trabajos.html
    body {
        .main__trabajos {
            .main__trabajos-titulo {
                text-align: center;
                font-size: nth($font-size, 2);
            }

            .main__trabajo-grid  {
                .main__trabajo-card-1 {
                    .main__trabajo {

                        width: 300px;
                        margin: 10px auto;

                        .main__trabajo-subtitulo {
                            text-align: center;
                        }
                        
                        .main__trabajo-info {
                           
                            font-size: nth($font-size, 5);  
                        }
                        
                    }
                }

                .main__trabajo-card-2 {

                    .main__trabajo {

                        width: 300px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {
                            text-align: center;
                        }

                        .main__trabajo-video {
                            width: 300px;
                            height: 250px;
                            margin: 15px;
                        }

                        .main__trabajo-info {
                           
                            font-size: nth($font-size, 5);  
                        }
                        
                        
                    }
                }
            }
        }
    }

}

/* TABLET */
@media screen and (min-width: 481px) and (max-width:768px) {
    
    // index.html
    body {
       
       .servicios {
        a {
            display: flex;
            justify-content: center;
        }
        }

        .sobre-mi {
            .sobre-mi__titulo {
                text-align: center;
            }

            .sobre-mi__card {

                .sobre-mi__img {
                    height: 520px;
                }

                .sobre-mi__info {
                    font-size: nth($font-size, 3);
                    height: 550px;
                    width: 400px;
                }

            }
        }

        .trabajos {
            a {
                display: flex;
                justify-content: center;
            }

            .trabajo {
                .trabajo__card-1 {
                    .trabajo__card {
                        width: 400px;
                    }
                }

                .trabajo__card-2 {
                    .trabajo__card {
                        width: 400px;
                    }
                }
            }
        }

        .contactos {

            .contactos__titulo {
                text-align: center;
            }

            .contactos__card {

                display: flex;
                flex-direction: column;

                .contactos__map {
                    display: none;
                }

                .contactos__datos {
                    margin-top: 30px;
                    width: 400px;
                    height: 350px;

                    .contactos__datos-card {
                        width: 80%;

                        h3 {
                            font-size: nth($font-size, 4);
                            letter-spacing: 1.2px;
                        }

                        p {
                            font-size: nth($font-size, 5); 
                        }
                    }
                }
            }
        }
    }

    // servicios.html
    body {
        // background-color: gray;
        .main__servicios {
            .main__servicios-titulo {
                font-size: nth($font-size, 2);
            }

            .main__servicios-card-1 {
                .main__servicio {
                    width: 500px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 3);
                    }
                    .main__servicio-img {
                        width: 450px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 4);
                    }
                }
            }

            .main__servicios-card-2 {
                .main__servicio {
                    width: 500px;
                    margin: 5px auto;

                    .main__servicio-subtitulo {
                        font-size: nth($font-size, 4);
                    }
                    .main__servicio-img {
                        width: 450px;
                    }
                    .main__servicio-info {
                        font-size: nth($font-size, 5);
                    }
                }
            }
        }
    }


     // trabajos.html
     body {
        .main__trabajos {

            .main__trabajos-titulo {

                text-align: center;

            }

            .main__trabajo-grid  {

                .main__trabajo-card-1 {

                    .main__trabajo {

                        width: 450px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {

                            text-align: center;

                        }
                        
                        .main__trabajo-info {
                           
                            font-size: nth($font-size, 4);

                        }
                        
                    }
                }

                .main__trabajo-card-2 {

                    .main__trabajo {

                        width: 450px;
                        margin: 10px auto;
                        
                        .main__trabajo-subtitulo {

                            text-align: center;

                        }

                        .main__trabajo-video {

                            width: 450px;
                            height: 230px;
                            margin: 15px;

                        }

                        .main__trabajo-info {
                           
                            font-size: nth($font-size, 4);

                        }
                        
                        
                    }
                }
            }
        }
    }
}

/* DESKTOP */
// @media screen and (min-width: 769px) {

//     body {
//         // background-color: green;
//     }
// }