.header {
    background-color: #fff;
    box-shadow: 0px 3px 5px 0px #616161bf;

    .navbar {
        flex-wrap: nowrap;

        .container-fluid {
            .navbar-brand {
                .header__logo {
                    width: 120px;
                }
            }
            .container-flex {
                display: flex;
                align-items: center;
            }
        }
        
        .navbar-collapse {
            flex-grow: 0;
            
            .navbar-nav {

                padding-left: 50px;
             
                .nav__item {
                    display: inline-block;
                }

                .nav-link {
                    color: map-get($colores, mostaza);
                    font-family: $titulo;
                    text-transform: uppercase;
                    // font-size: 1.25rem;
                    font-size: nth($font-size, 4);
                    padding-right: 1.5rem;
                    
                }
        
                .nav-link:hover {
                    color: map-get($colores, naranja);
                }

                .dropdown-item {
                    color: map-get($colores, mostaza);
                    font-family: $titulo;
                    text-transform: uppercase;
                    // font-size: 1rem;
                    font-size: nth($font-size, 5);

                }
            }
        
        }
    }
}